$main-bg-color: #27232e;

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  .button-bar {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    align-self: flex-end;
  }
}

.topbar {
  padding: 10px 0;
  background-color: $main-bg-color;

  .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1460px;
    padding: 0 20px;
    width: 100%;
  }

  .topbar-wrapper {
    display: flex;
    align-items: center;

    .link {
      display: flex;
      align-items: center;
    }

    .link:after {

      content: 'Digital Solutions Studio s.r.o.';
      font-size: 14px;
      letter-spacing: 3px;
      line-height: 30px;
      width: 350px;
      margin-left: 10px;
      color: white;
    }
  }

  img {
    display: block;
    height: 60px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
  }
}
